<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel='stylesheet' href='/stylesheets/todo_view.css' />
</head>

<body>
    <h1>TODO</h1>
    <div class="head row form-group">
        <div class="col-8">
            <input type="text" class="form-control todo-new" placeholder="TODO를 입력해주세요.">
        </div>

        <div class="input-group date col-3" id="datetimepicker" data-target-input="nearest"> 
            <input type="text" class="form-control datetimepicker-input todo-end" data-target="#datetimepicker"> 
            <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker"> 
                <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </div> 
            </div> 
        </div>

        <div class="col-1">
            <button type="button" class="btn btn-outline-primary todo-add">ADD</button>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control todo-search" placeholder="검색하기" >
        <div class="input-group-append">
          <button class="btn btn-outline-secondary search-btn" type="button">검색</button>
        </div>
      </div>

    <div class="list-wrapper">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="todo-item row" data-id="1"> 
                    <div class="form-check-label todo-top col-10"> 
                        <input class="checkbox todo-ck" type="checkbox"> 
                        <label class="todo-name">
                            TODO NAME
                        </label>
                        <span class="badge badge-primary badge-pill">2021.05.09</span>
                    </div> 
                    <div class="col-2 todo-btn">
                        <span class="todo-edit">✏</span>
                        <span class="todo-del">✖</span>
                    </div>

                    <div class="todo-date">
                        <span class="badge badge-pill badge-secondary">MAKE</span>
                        <span class="orm-check-label todo-make">
                            2021.05.09
                        </span>
                        &nbsp;
                        <span class="badge badge-pill badge-secondary">EDIT</span>
                        <span class="orm-check-label todo-make">
                            2021.05.09
                        </span>
                    </div>
                </div> 
            </li>
        </ul>
    </div>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="/javascripts/todo_view.js"></script>
</html>