.todo-btn{
    text-align: right;
}

.todo-date{
    margin-right: 15px;
    margin-left: 15px;
    color: gray;
    font-size: small;
    width: 100%;
}

.todo-name input{
    display: inline-block;
    width: auto;
}

.todo-name button{
    display: inline-block;
}

.todo-end-text{
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}

.todo-tag{
    margin-right: 15px;
    margin-left: 15px;
    color: gray;
    font-size: small;
}